agm-map {
    height: 100vh;
}

:host{
    position: relative;
    top: 50px
}

mat-form-field{
    width: 100%
}

.remove-point-button{
    position: absolute;
    float: right;
    right: 23px;
    margin-top: -16px;
    z-index: 1;
}

.card-summary,
.card-form{
    margin-top: 0.5em; 
    margin-bottom: 1.5em;
}

p.note{
    white-space: inherit !important;
    overflow: visible !important;
}

.total-amount {
    background-color: #00519f;
    color: #ffffff;
    margin-top: 21px;
}
.global-container{
    width: 100%;
    position: relative;
}
.mensajeria-form{
    
    position: absolute;
    top: 1em;
    right: -70px;
    max-width: 600px;
}

.step-container {
    overflow: hidden;
    
    max-height: 90vh;
    overflow-y: scroll;
}

mat-card{
    padding: 0;
}

