<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
  <!--<mat-card>-->
      <div class="card">
          <div class="card-header card-header-text" data-background-color="blue">
              <h4 class="card-title">Parámetros Configuración Global App</h4>
          </div>
          <div class="card-content">
            <br/>
    <ng-container *ngIf="form && Clientes$ | async as Clientes; else loading">
      <form [formGroup]="form">
        <!-- CantSrvcQuePuedeComprarMensajero -->
        <mat-form-field>
          <input matInput formControlName="CantSrvcQuePuedeComprarMensajero" placeholder="Cantidad de Servicios que Puede Comprar un Mensajero"
            type="number">
          <span matSuffix>{{CantSrvcQuePuedeComprarMensajero.value }} Servicios</span>
          <mat-error *ngIf="CantSrvcQuePuedeComprarMensajero.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="!CantSrvcQuePuedeComprarMensajero.hasError('required') && CantSrvcQuePuedeComprarMensajero.hasError('pattern')">
            Campo debe ser
            <strong>Entero Positivo</strong>
          </mat-error>
        </mat-form-field>

        <!-- DistanciaActivarBotonEstadoSrvc -->
        <mat-form-field>
          <input matInput formControlName="DistanciaActivarBotonEstadoSrvc" placeholder="Distancia minima para activar el boton de cambiar estado de servicio"
            type="number">
          <span matSuffix>{{DistanciaActivarBotonEstadoSrvc.value / 1000 }} Kmts</span>
          <mat-error *ngIf="DistanciaActivarBotonEstadoSrvc.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="!DistanciaActivarBotonEstadoSrvc.hasError('required') && DistanciaActivarBotonEstadoSrvc.hasError('pattern')">
            Campo debe ser
            <strong>Entero Positivo</strong>
          </mat-error>
        </mat-form-field>

        <!-- TiempoCambiarAInactivo -->
        <mat-form-field>
          <input matInput formControlName="TiempoCambiarAInactivo" placeholder="Tiempo para cambiar a estado Inactivo" type="number">
          <span matSuffix>{{TiempoCambiarAInactivo.value / 60000 }} Minutos</span>
          <mat-error *ngIf="TiempoCambiarAInactivo.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="!TiempoCambiarAInactivo.hasError('required') && TiempoCambiarAInactivo.hasError('pattern')">
            Campo debe ser
            <strong>Entero Positivo</strong>
          </mat-error>
        </mat-form-field>

        <!-- TiempoIntervaloRevisarUltimoCambioEstado -->
        <mat-form-field>
          <input matInput formControlName="TiempoIntervaloRevisarUltimoCambioEstado" placeholder="Tiempo de intervalo para revisar cuando fue la ultima vez en la que el usuario se activó"
            type="number">
          <span matSuffix>{{TiempoIntervaloRevisarUltimoCambioEstado.value / 1000 }} Segundos</span>
          <mat-error *ngIf="TiempoIntervaloRevisarUltimoCambioEstado.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="!TiempoIntervaloRevisarUltimoCambioEstado.hasError('required') && TiempoIntervaloRevisarUltimoCambioEstado.hasError('pattern')">
            Campo debe ser
            <strong>Entero Positivo</strong>
          </mat-error>
        </mat-form-field>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
              <div class="card">
              <div class="card-header card-header-text" data-background-color="blue">
                  <h4 class="card-title">Compras Personalizadas por cliente</h4>
              </div>
            <!--<mat-card>-->
              <mat-list *ngIf="Usuarios">
                <ng-container formGroupName="Usuarios">
                  <ng-container *ngFor="let Cliente of Clientes">
                    <ng-container *ngIf="Usuarios.get(Cliente.$key)">
                      <ng-container [formGroupName]="Cliente.$key">
                        <h3 mat-subheader>{{ Cliente.Nombres + ' ' + Cliente.Apellidos }} </h3>
                        <mat-list-item>
                          <mat-form-field>
                            <input matInput formControlName="CantSrvcQuePuedeComprarMensajero" placeholder="Cantidad de Servicios que Puede Comprar un Mensajero"
                              type="number">
                            <span matSuffix>{{ Usuarios.get(Cliente.$key).get('CantSrvcQuePuedeComprarMensajero').value }} Servicios</span>
                            <mat-error *ngIf="Usuarios.get(Cliente.$key).get('CantSrvcQuePuedeComprarMensajero').hasError('required')">
                              Campo
                              <strong>Obligatorio</strong>
                            </mat-error>
                            <mat-error *ngIf="!Usuarios.get(Cliente.$key).get('CantSrvcQuePuedeComprarMensajero').hasError('required') && Usuarios.get(Cliente.$key).get('CantSrvcQuePuedeComprarMensajero').hasError('pattern')">
                              Campo debe ser
                              <strong>Entero Positivo</strong>
                            </mat-error>
                          </mat-form-field>
                          <button mat-button (click)="removeCustomUserConfig(Cliente.$key)">
                            <mat-icon>
                              delete
                            </mat-icon>
                          </button>
                        </mat-list-item>
                      </ng-container>

                    </ng-container>
                  </ng-container>
                </ng-container>
              </mat-list>
              <div class="row">
                <div class="col-sm-8">
                  <mat-form-field>
                    <mat-select #selectCliente placeholder="Seleccione Cliente">
                      <ng-container *ngFor="let Cliente of Clientes">
                        <ng-container *ngIf="Usuarios; else allClientesSelect">
                          <ng-container *ngIf="!Usuarios.get(Cliente.$key)">
                            <mat-option [value]="Cliente.$key">
                              {{ Cliente.Nombres}} {{Cliente.Apellidos}}
                            </mat-option>
                          </ng-container>
                        </ng-container>
                        <ng-template #allClientesSelect>
                          <mat-option [value]="Cliente.$key">
                            {{ Cliente.Nombres}} {{Cliente.Apellidos}}
                          </mat-option>
                        </ng-template>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm-4">
                  <button class="btn btn-info" [disabled]="!selectCliente.value" (click)="onClickaddCustomUserConfig(selectCliente)">Agregar Configuración
                    <mat-icon>settings</mat-icon>
                  </button>
                </div>
              </div>
            <!--</mat-card>-->
          </div>
          </div>
        </div>
        <br/>
        <div class="text-center">
          <button class="btn btn-success" [disabled]="form.invalid" (click)="onSubmit()">Actualizar</button>
        </div>
      </form>
    </ng-container>

    <ng-template #loading>
      <div class="text-center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  <!--</mat-card>-->
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
