<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-text" data-background-color="blue">
                <h4 class="card-title">Nuevo Usuario</h4>
            </div>
            <div class="card-content">
  <!--<mat-card>-->
    
    <div class="pull-right">
      <button class="btn btn-warning" routerLink="/dashboard/Usuarios/lista">Ver Lista Usuarios</button>
    </div>
    <ng-container *ngIf="form && Ciudades$ | async as Ciudades; else loading">
      <form [formGroup]="form">
        <!-- Nombres -->
        <mat-form-field>
          <input matInput formControlName="Nombres" placeholder="Nombres">
          <mat-error *ngIf="Nombres.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Apellidos -->
        <mat-form-field>
          <input matInput formControlName="Apellidos" placeholder="Apellidos">
          <mat-error *ngIf="Apellidos.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Cedula -->
        <mat-form-field>
          <input matInput formControlName="Cedula" placeholder="Número de Cédula" type="number">
          <mat-error *ngIf="Cedula.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Celular -->
        <mat-form-field>
          <input matInput formControlName="Celular" placeholder="Celular" type="number">
          <mat-error *ngIf="Celular.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Estado -->
        <mat-form-field>
          <mat-select formControlName="Estado" placeholder="Estado">
            <ng-container *ngIf="EstadosUsuario$ | async as EstadosUsuario">
              <mat-option *ngFor="let row of EstadosUsuario" [value]="row.$key" [matTooltip]="row.Descripcion">
                {{ row.Nombre }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="Estado.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Ciudad -->
        <mat-form-field>
          <mat-select formControlName="Ciudad" placeholder="Ciudad">
            <mat-option *ngFor="let row of Ciudades" [value]="row.Codigo" [matTooltip]="row.Prefijo">
              {{ row.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Ciudad.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- Correo -->
        <mat-form-field>
          <input matInput formControlName="Correo" placeholder="Correo Electrónico">
          <mat-error *ngIf="Correo.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="Correo.hasError('email')">
            Campo debe ser un
            <strong>Correo</strong>
          </mat-error>
        </mat-form-field>

        <!-- Password1 -->
        <mat-form-field *ngIf="Password1">
          <input matInput formControlName="Password1" placeholder="Contraseña" type="password">
          <mat-error *ngIf="Password1.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
          <mat-error *ngIf="Password1.hasError('minlength')">
            Campo debe tener al menos
            <strong>6 Caracteres</strong>
          </mat-error>
        </mat-form-field>

        <!-- Password2 -->
        <mat-form-field *ngIf="Password2">
          <input matInput formControlName="Password2" placeholder="Confirmar Contraseña" type="password">
          <mat-error *ngIf="Password2.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>
        <ng-container *ngIf="Password1 && Password2">
          <div class="alert alert-warning" *ngIf="Password1.valid && (Password1.dirty || Password1.touched) && Password2.valid && (Password2.dirty || Password2.touched) && Password1.value !== Password2.value">
            Las contraseñas
            <strong>no coinciden</strong>
          </div>
        </ng-container>


        <!-- Rol -->
        <mat-form-field>
          <mat-select formControlName="Rol" placeholder="Rol">
            <ng-container *ngIf="Roles$ | async as Roles">
              <mat-option *ngFor="let row of Roles" [value]="row.$key" [matTooltip]="row.Descripcion" (click)="AddInputsByRol(row.$key)">
                {{ row.Nombre }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="Rol.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- PlacaVehiculo -->
        <mat-form-field *ngIf="PlacaVehiculo">
          <input matInput formControlName="PlacaVehiculo" placeholder="Placa Vehiculo">
          <mat-error *ngIf="PlacaVehiculo.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <!-- FechaNacimiento -->
        <mat-form-field *ngIf="FechaNacimiento">
          <input matInput formControlName="FechaNacimiento" placeholder="Fecha Nacimiento" [matDatepicker]="picker" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="FechaNacimiento.hasError('required')">
            Campo
            <strong>Obligatorio</strong>
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="TiempoDispParaHacerServicio && ComoNosConocio && TieneEPS && TipoVehiculo && TipoCelular">
          <ng-container *ngIf="ParamsMensajero$ | async as ParamsMensajero">
            <!-- TiempoDispParaHacerServicio -->
            <mat-form-field>
              <mat-select formControlName="TiempoDispParaHacerServicio" placeholder="Tiempo Disponible Para Hacer Servicio">
                <mat-option *ngFor="let row of ParamsMensajero.TiempoDispParaHacerServicio" [value]="row">
                  {{ row }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="TiempoDispParaHacerServicio.hasError('required')">
                Campo
                <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <!-- ComoNosConocio -->
            <mat-form-field>
              <mat-select formControlName="ComoNosConocio" placeholder="Como Nos Conocio">
                <mat-option *ngFor="let row of ParamsMensajero.ComoNosConocio" [value]="row">
                  {{ row }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="ComoNosConocio.hasError('required')">
                Campo
                <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <!-- TieneEPS -->
            <mat-form-field>
              <mat-select formControlName="TieneEPS" placeholder="Tiene EPS">
                <mat-option *ngFor="let row of ParamsMensajero.TieneEPS" [value]="row">
                  {{ row }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="TieneEPS.hasError('required')">
                Campo
                <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <!-- TipoVehiculo -->
            <mat-form-field>
              <mat-select formControlName="TipoVehiculo" placeholder="Tipo Vehiculo">
                <mat-option *ngFor="let row of ParamsMensajero.TipoVehiculo" [value]="row">
                  {{ row }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="TipoVehiculo.hasError('required')">
                Campo
                <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>

            <!-- TipoCelular -->
            <mat-form-field>
              <mat-select formControlName="TipoCelular" placeholder="Tipo Celular">
                <mat-option *ngFor="let row of ParamsMensajero.TipoCelular" [value]="row">
                  {{ row }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="TipoCelular.hasError('required')">
                Campo
                <strong>Obligatorio</strong>
              </mat-error>
            </mat-form-field>
          </ng-container>

        </ng-container>
        <mat-slide-toggle *ngIf="EsClienteDeIntegracion" (change)="toggleIsIntegratorClient($event)" formControlName="EsClienteDeIntegracion">
          ¿Es Cliente de Integración?
        </mat-slide-toggle>
        <ng-container *ngIf="ClienteIntegracion && EsClienteDeIntegracion.value">
          <ng-container formGroupName="ClienteIntegracion">
            <ng-container formGroupName="urls">
              <mat-form-field>
                <input matInput formControlName="logSolicitud" placeholder="Url integración Log Solicitud">
                <mat-error>
                  Campo debe ser una <strong>URL</strong>
                </mat-error>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="hasTarifasPersonalizadas">
          <mat-slide-toggle (change)="toggleTarifasPersonalizadas($event, Ciudades)" formControlName="hasTarifasPersonalizadas">
            ¿Tiene Tarifas Personalizadas?
          </mat-slide-toggle>

          <ng-container *ngIf="hasTarifasPersonalizadas.value">
            <div class="col-sm-offset-1 col-sm-10">
              <mat-card>
                <h2>Tarifas</h2>
                <ng-container *ngIf="TiposServicio$ | async as TiposServicio">

                  <ng-container formGroupName="Tarifas">
                    <ng-container *ngFor="let Ciudad of Ciudades">
                      <ng-container *ngIf="Tarifas.get(Ciudad.Codigo)">
                        <ng-container [formGroupName]="Ciudad.Codigo">
                          <ng-container *ngFor="let tipo of TiposServicio">
                            <ng-container *ngIf="Tarifas.get(Ciudad.Codigo).get(tipo.$key)">
                              <ng-container [formGroupName]="tipo.$key">
                                <h4 class="h4">
                                  <small>Ciudad: </small>
                                  <strong>{{ Ciudad.Nombre}}</strong>
                                  <small>Servicio: </small>
                                  <strong>{{ tipo.Nombre}}</strong>
                                </h4>
                                <!-- Hay una tarifa para la ciudad de {{ Ciudad.Nombre}} y servicio {{ tipo.Nombre}} {{Tarifas.get(Ciudad.Codigo).get(tipo.$key).Tavalue
                                | json }} -->
                                <ng-container *ngIf="Tarifas.get(Ciudad.Codigo).get(tipo.$key).get('Tarifas')">
                                  <ng-container formGroupName="Tarifas">

                                    <!-- Domicilios -->
                                    <ng-container *ngIf="Tarifas.get(Ciudad.Codigo).get(tipo.$key).get('Tarifas').get('Tarifa1') && Tarifas.get(Ciudad.Codigo).get(tipo.$key).get('Tarifas').get('Tarifa2') && Tarifas.get(Ciudad.Codigo).get(tipo.$key).get('Tarifas').get('Tarifa3')">
                                      <mat-list>
                                        <h3 mat-subheader>Tarifa 1</h3>
                                        <mat-list-item>
                                          <ng-container formGroupName="Tarifa1">
                                            <mat-form-field>
                                              <input matInput formControlName="minKm" placeholder="Min Km" readonly type="number">
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="maxKm" placeholder="Max Km" type="number">
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="value" placeholder="Value" type="number">
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                          </ng-container>
                                        </mat-list-item>

                                        <h3 mat-subheader>Tarifa 2</h3>
                                        <mat-list-item>
                                          <ng-container formGroupName="Tarifa2">

                                            <mat-form-field>
                                              <input matInput formControlName="minKm" placeholder="Min Km" readonly>
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="maxKm" placeholder="Max Km" type="number">
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="value" placeholder="Value" type="number">
                                              <mat-error>
                                                Campo Númerico mayor a 0
                                              </mat-error>
                                            </mat-form-field>
                                          </ng-container>
                                        </mat-list-item>

                                        <h3 mat-subheader>Tarifa 3</h3>
                                        <mat-list-item>
                                          <ng-container formGroupName="Tarifa3">
                                            <mat-form-field>
                                              <input matInput formControlName="minKm" placeholder="Min Km" readonly>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="value" placeholder="Value" type="number">
                                              <mat-error>
                                                Campo
                                                <strong>Obligatorio</strong> y
                                                <strong>Numerico Positivo</strong>
                                              </mat-error>
                                            </mat-form-field>
                                          </ng-container>
                                        </mat-list-item>
                                      </mat-list>
                                      <div class="pull-right">
                                        <button (click)="deleteControl(Ciudad.Codigo, tipo.$key)">
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </div>
                                    </ng-container>

                                    <!-- Mensajeria -->
                                    <ng-container *ngIf="Tarifas.get(Ciudad.Codigo).get(tipo.$key).get('Tarifas').get('Cancelacion')">
                                      <mat-list>
                                        <h3 mat-subheader>Primeros Kmts</h3>
                                        <mat-list-item>
                                          <ng-container formGroupName="PrimerosKm">
                                            <mat-form-field>
                                              <input matInput formControlName="Costo" placeholder="Costo" type="number">
                                              <mat-error>
                                                Campo
                                                <strong>Obligatorio</strong> y
                                                <strong>Numerico Positivo</strong>
                                              </mat-error>
                                            </mat-form-field>
                                            <mat-form-field>
                                              <input matInput formControlName="Km" placeholder="Max Km" type="number">
                                              <mat-error>
                                                Campo
                                                <strong>Obligatorio</strong> y
                                                <strong>Numerico Positivo</strong>
                                              </mat-error>
                                            </mat-form-field>
                                          </ng-container>
                                        </mat-list-item>
                                        <mat-list-item>
                                          <mat-form-field>
                                            <input matInput formControlName="Cancelacion" placeholder="Cancelacion" type="number">
                                            <mat-error>
                                              Campo
                                              <strong>Obligatorio</strong> y
                                              <strong>Numerico Positivo</strong>
                                            </mat-error>
                                          </mat-form-field>
                                        </mat-list-item>
                                        <mat-list-item>
                                          <mat-form-field>
                                            <input matInput formControlName="KmAdicional" placeholder="Km Adicional" type="number">
                                            <mat-error>
                                              Campo
                                              <strong>Obligatorio</strong> y
                                              <strong>Numerico Positivo</strong>
                                            </mat-error>
                                          </mat-form-field>
                                        </mat-list-item>
                                        <mat-list-item>
                                          <mat-form-field>
                                            <input matInput formControlName="ParadaAdicional" placeholder="Parada Adicional" type="number">
                                            <mat-error>
                                              Campo
                                              <strong>Obligatorio</strong> y
                                              <strong>Numerico Positivo</strong>
                                            </mat-error>
                                          </mat-form-field>
                                        </mat-list-item>
                                        <mat-list-item>
                                          <mat-form-field>
                                            <input matInput formControlName="SobreCostoFueraCiudad" placeholder="Sobrecosto Fuera de Ciudad" type="number">
                                            <mat-error>
                                              Campo
                                              <strong>Obligatorio</strong> y
                                              <strong>Numerico Positivo</strong>
                                            </mat-error>
                                          </mat-form-field>
                                        </mat-list-item>
                                      </mat-list>
                                      <div class="pull-right">
                                        <button (click)="deleteControl(Ciudad.Codigo, tipo.$key)">
                                          <mat-icon>delete</mat-icon>
                                        </button>
                                      </div>
                                    </ng-container>
                                  </ng-container>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>

                      </ng-container>

                    </ng-container>
                  </ng-container>
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                      Agregar una nueva tarifa
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-3">
                      <mat-form-field>
                        <mat-select placeholder="Seleccione Ciudad" #City>
                          <mat-option *ngFor="let Ciudad of Ciudades" [value]="Ciudad.Codigo">
                            {{ Ciudad.Nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-form-field>

                        <mat-select placeholder="Seleccione Servicio" #Service [disabled]="!City.value">
                          <ng-container *ngFor="let tipo of TiposServicio">
                            <mat-option *ngIf="!(Tarifas.value[City.value] && Tarifas.value[City.value][tipo.$key])" [value]="tipo.$key">
                              {{ tipo.Nombre}}
                            </mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <button mat-button [disabled]="!City.value || !Service.value" (click)="AddTarifa(City, Service)">Agregar Tarifa</button>
                    </div>
                  </div>
                </ng-container>
              </mat-card>
            </div>

          </ng-container>
        </ng-container>

        <div class="text-center" *ngIf="form.get('Password1') && form.get('Password2'); else updateUser">
          <button class="btn btn-success" (click)="onSubmitCreate()" [disabled]="form.invalid || Password1.value != Password2.value">Crear Usuario</button>
        </div>
        <ng-template #updateUser>
          <div class="text-center">
            <button class="btn btn-success" (click)="onSubmitUpdate()" [disabled]="form.invalid">Actualizar Usuario</button>
          </div>
        </ng-template>

      </form>
    </ng-container>

    <ng-template #loading>
      <div class="text-center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  <!--</mat-card>-->
</div>
</div>
</div>
</div>