<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="blue">
                        <h4 class="card-title">Listado de Tarifas</h4>
                    </div>
                    <div class="card-content">
                        <mat-form-field *ngIf="Cities$ | async as Ciudades">
                          <mat-select [(ngModel)]="citySelected" placeholder="Seleccione una Ciudad">
                            <mat-option *ngFor="let Ciudad of Ciudades" (click)="onClickCity(Ciudad)" [value]="Ciudad">
                              {{ Ciudad.Nombre }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        
  <ng-container *ngIf="form; else loading">

    <div [formGroup]="form">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Domicilios 
              <span class="label label-primary">{{ citySelected.Nombre }} </span>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!hasDomicilios">No Hay Registro, ¡Crealos Ahora!</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form formGroupName="Domicilios">
            <ng-container formGroupName="Tarifas">
              <mat-list>
                <h3 mat-subheader>Tarifa 1</h3>
                <mat-list-item>
                  <ng-container formGroupName="Tarifa1">
                    <mat-form-field>
                      <input matInput placeholder="min Km" formControlName="minKm" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="max Km" formControlName="maxKm" type="number">
                      <mat-error *ngIf="T1maxKm.hasError('pattern')">
                        Debe ser
                        <strong>Númerico Positivo</strong>
                      </mat-error>
                      <mat-error *ngIf="T1maxKm.hasError('min')">
                        Debe ser
                        <strong>superior a 1 Km</strong>
                      </mat-error>
                      <mat-error *ngIf="T1maxKm.hasError('required')">
                        Campo
                        <strong>Obligatorio</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Valor" formControlName="value" type="number">
                      <mat-error *ngIf="T1value.hasError('required')">
                        Campo
                        <strong>Obligatorio</strong>
                      </mat-error>
                      <mat-error *ngIf="T1value.hasError('pattern')">
                        Campo debe ser
                        <strong>Númerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                </mat-list-item>
                <h3 mat-subheader>Tarifa 2</h3>
                <mat-list-item>
                  <ng-container formGroupName="Tarifa2">
                    <mat-form-field>
                      <input matInput placeholder="min Km" formControlName="minKm" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="max Km" formControlName="maxKm" type="number">
                      <mat-error *ngIf="T2maxKm.hasError('required')">
                        Campo
                        <strong>Obligatorio</strong>
                      </mat-error>
                      <mat-error *ngIf="T2maxKm.hasError('pattern')">
                        Campo
                        <strong>Numerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Valor" formControlName="value" type="number">
                      <mat-error *ngIf="T2value.hasError('required')">
                        Campo
                        <strong>Obligatorio</strong>
                      </mat-error>
                      <mat-error *ngIf="T2value.hasError('pattern')">
                        Campo debe ser
                        <strong>Númerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                </mat-list-item>
                <h3 mat-subheader>Tarifa 3</h3>
                <mat-list-item>
                  <ng-container formGroupName="Tarifa3">
                    <mat-form-field>
                      <input matInput placeholder="min Km" formControlName="minKm" readonly>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Valor" formControlName="value" type="number">
                      <mat-error *ngIf="T3value.hasError('required')">
                        Campo
                        <strong>Obligatorio</strong>
                      </mat-error>
                      <mat-error *ngIf="T3value.hasError('pattern')">
                        Campo debe ser
                        <strong>Númerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                </mat-list-item>
              </mat-list>
              <div class="text-center">
                <button type="submit" class="btn btn-success" (click)="onUpdateDomicilios()">
                  {{ hasDomicilios ? 'Actualizar' : 'Crear' }} Tarifas Domicilios
                </button>
                <button  class="btn btn-danger" (click)="onRemove('Domicilios')" *ngIf="hasDomicilios">
                    Eliminar Tarifas Domicilios
                  </button>
              </div>
            </ng-container>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Mensajeria
              <span class="label label-primary">{{ citySelected.Nombre }} </span>
            </mat-panel-title>
            <mat-panel-description>
              <span *ngIf="!hasMensajeria">No Hay Registro, ¡Crealos Ahora!</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ng-container formGroupName="Mensajeria">
            <form formGroupName="Tarifas">
              <mat-list>
                <h3 mat-subheader>Primeros Kmts</h3>
                <mat-list-item>
                  <ng-container formGroupName="PrimerosKm">
                    <mat-form-field>
                      <input matInput formControlName="Costo" placeholder="Costo" type="number">
                      <mat-error>
                        Campo
                        <strong>Obligatorio</strong> y
                        <strong>Numerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput formControlName="Km" placeholder="Max Km" type="number">
                      <mat-error>
                        Campo
                        <strong>Obligatorio</strong> y
                        <strong>Numerico Positivo</strong>
                      </mat-error>
                    </mat-form-field>
                  </ng-container>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput formControlName="Cancelacion" placeholder="Cancelacion" type="number">
                    <mat-error>
                      Campo
                      <strong>Obligatorio</strong> y
                      <strong>Numerico Positivo</strong>
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput formControlName="KmAdicional" placeholder="Km Adicional" type="number">
                    <mat-error>
                      Campo
                      <strong>Obligatorio</strong> y
                      <strong>Numerico Positivo</strong>
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput formControlName="ParadaAdicional" placeholder="Parada Adicional" type="number">
                    <mat-error>
                      Campo
                      <strong>Obligatorio</strong> y
                      <strong>Numerico Positivo</strong>
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>
                <mat-list-item>
                  <mat-form-field>
                    <input matInput formControlName="SobreCostoFueraCiudad" placeholder="Sobrecosto Fuera de Ciudad" type="number">
                    <mat-error>
                      Campo
                      <strong>Obligatorio</strong> y
                      <strong>Numerico Positivo</strong>
                    </mat-error>
                  </mat-form-field>
                </mat-list-item>
              </mat-list>
              <div class="text-center">
                <button type="submit" class="btn btn-success" (click)="onUpdateMensajeria()">
                  {{ hasMensajeria ? 'Actualizar' : 'Crear' }} Tarifas Mensajeria
                </button>
                <button class="btn btn-danger" (click)="onRemove('Mensajeria')" *ngIf="hasMensajeria">
                  Eliminar Tarifas Mensajeria
                </button>
              </div>
            </form>
          </ng-container>
        </mat-expansion-panel>

      </mat-accordion>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="text-center" *ngIf="citySelected">
      <h3>Cargando tarifas de {{ citySelected.Nombre }}</h3>
      <mat-spinner> </mat-spinner>
    </div>
  </ng-template>

<!--</mat-card>-->

<!--<pre *ngIf="form">
  {{form.value | json }}
</pre>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>