/* You can add global styles to this file, and also import other style files */

.text-center mat-spinner{
    margin:0 auto;
}

.code-panel{
    position: fixed;
    width: 323px;
    height: auto;
    background: rgba(77, 206, 107, 0.63);
    left: 237px;
    z-index: 100;
    color: black;
    top: 20px;
}

.sidebar-black{
    background: red
}